

   	   *{margin: 0;}
       
          body {
     background-image: url("frontpage.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    
    .header{
        width:100%;
        background-color:rgba(0,0,0,.2);
    }
    
    .header ul{
        text-align: center;
    
    }
    
    .header ul li{
        list-style:none;
        display: inline-block;
    }
    
    .header ul li a{
        display:block;
        text-decoration: none;
        text-transform: :uppercase;
        color:#fff;
        font-size: :40px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        font-weight: : 600;
        padding: 25px;
        transition: all ease 0.5s;
    }
    
    .header ul li a:hover{
        background-color: #211b4385;
    }
    